@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-stroke {
        -webkit-text-stroke: 3px transparent;
    }

    @keyframes move5 {
        0% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
        50% {
            -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
        }
        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }

    @keyframes scale5 {
        0% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        50% {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    @variants responsive {
        .masonry {
            column-gap: 1em;
            column-count: 1;
        }
        .masonry-1 {
            column-gap: 1.1em;
            column-count: 1;
        }
        .masonry-2 {
            column-gap: 1.1em;
            column-count: 2;
        }
        .masonry-3 {
            column-gap: 1.2em;
            column-count: 3;
        }
        .masonry-4 {
            column-gap: 1.2em;
            column-count: 4;
        }
        .masonry-5 {
            column-gap: 1em;
            column-count: 5;
        }
        .masonry-6 {
            column-gap: 1em;
            column-count: 6;
        }
        .break-inside {
            break-inside: avoid;
        }
    }
}
